<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="after">
	<insert id="add" >
		insert into after values(after_seq.nextval, #{parent, jdbcType=NUMERIC}, #{writer}, #{comment}, #{attach, jdbcType=VARCHAR}, sysdate, #{title}, 0)
	</insert>
	
	<select id="list" resultType="java.util.HashMap">
		select b.*, t.c from after b left join 
       	(select parent, count(*) as c from freeboard_reply group by parent ) t on b.no = t.parent order by no desc
	</select>
	
	<select id="detail" resultType="java.util.HashMap">
		select * from after where no=#{no}
	</select>
	
	<update id="cnt">
		update after set count=count+1 where no=#{no}
	</update>
	
	<insert id="addReply" >
		insert into freeboard_reply values(freeboardreply_seq.nextval, #{id}, #{content}, sysdate, #{parent}, null)
	</insert>
	
	<select id="readReply" resultType="java.util.HashMap">
		select * from freeboard_reply where parent=#{parent} order by no desc
	</select>
	
	<delete id="deleteReply">
		delete from freeboard_reply where no=#{no}
	</delete>
	
	<update id="modifyAfter">
		update after set comments=#{comment} where no=#{no}
	</update>
</mapper>