<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="become_member">
	<insert id="add">
		insert into become_member
		values(become_member_seq.nextval,#{title},#{id},#{detail},sysdate,0)
	</insert>

	<select id="list" resultType="java.util.HashMap">
		select *from become_member
	</select>

	<select id="readOne" parameterType="java.lang.String"
		resultType="java.util.HashMap">
		select * from become_member where no=#{no}
	</select>

	<update id="countup">
		update become_member set count = count+1 where no =#{no}
	</update>
</mapper>