<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="become_member">
	<!-- 가입인사 게시판 -->
	<insert id="add">
		insert into become_member
		values(become_member_seq.nextval,#{title},#{id},#{detail},sysdate,0)
	</insert>

	<select id="list" resultType="java.util.HashMap">
		select b.*, t.c from become_member b left join 
        (select bno, count(*) as c from reply group by bno ) t on b.no = t.bno order by no desc

	</select>

	<select id="readOne" parameterType="java.lang.String"
		resultType="java.util.HashMap">
		select * from become_member where no=#{no}
	</select>

	<update id="countup">
		update become_member set count = count+1 where no =#{no}
	</update>
	
	<delete id="delete">
		delete from become_member where no=#{no}
	</delete>
	
	 <update id="adjust"> 
		update become_member set detail=#{detail} where no =#{no}
	 </update>
	 
	 <!-- 등업게시판 -->
	 <insert id="levelboard">
	 	insert into levelboard values(level_seq.nextval, #{id}, #{contents}, sysdate, #{pwd})
	 </insert>
	 <select id="levelReqList" resultType="org.game.nara.LevelReqVO">
	 	select * from levelboard order by no desc
	 </select>
	 <delete id="levelReqDel">
		delete from levelboard where no=#{no}
	</delete>
</mapper>