<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="buy">
	<insert id="add">
		insert into buy
		values(buy_seq.nextval,#{title},#{detail},#{buy_id},#{category},sysdate,0,#{end})
	</insert>
	<update id="countup"> 
		update buy set count = count+1 where no =#{no}
	 </update>
	 <update id="adjust"> 
		update buy set detail=#{detail},title=#{title} where no =#{no}
	 </update>
	<select id="list" resultType="java.util.HashMap">
				select b.*, t.c from buy b left join 
        	(select parent, count(*) as c from freeboard_reply group by parent ) t on b.no = t.parent
	</select>
	<select id="readOne" parameterType="java.lang.String"
		resultType="java.util.HashMap">
		select * from buy where no=#{no}
	</select>
	
	
	<update id="endset">
	update buy set end=#{end} where no=#{no}
	</update>

	<select id="consoleread" parameterType="java.lang.String"
		resultType="java.util.HashMap">
		select * from buy where category=1
	</select>

	<select id="titleread" parameterType="java.lang.String"
		resultType="java.util.HashMap">
		select * from buy where category=2
	</select>

	<select id="accessoryread" parameterType="java.lang.String"
		resultType="java.util.HashMap">
		select * from buy where category=3
	</select>

	<select id="othersread" parameterType="java.lang.String"
		resultType="java.util.HashMap">
		select * from buy where category=0
	</select>
	
	


</mapper>