<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="buy">
	<insert id="add">
		insert into buy
		values(buy_seq.nextval,#{title},#{detail},#{buy_id},#{category},sysdate,0,#{end})
	</insert>
	<select id="list" resultType="java.util.HashMap">
		select * from BUY
	</select>
	<select id="readOne" parameterType="java.lang.String"
		resultType="java.util.HashMap">
		select * from buy where no=#{no}
	</select>
	
	<update id="endset">
	update buy set end=#{end} where no=#{no}
	</update>

	<select id="consoleread" parameterType="java.lang.String"
		resultType="java.util.HashMap">
		select * from buy where category=1
	</select>

	<select id="titleread" parameterType="java.lang.String"
		resultType="java.util.HashMap">
		select * from buy where category=2
	</select>

	<select id="accessoryread" parameterType="java.lang.String"
		resultType="java.util.HashMap">
		select * from buy where category=3
	</select>

	<select id="othersread" parameterType="java.lang.String"
		resultType="java.util.HashMap">
		select * from buy where category=0
	</select>
	
	


</mapper>