<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="chat">
	<insert id="add" >
		insert into note values(note_seq.nextval, #{receiver}, #{sender}, #{content}, #{time}, 'n', 'n')
	</insert>
	
	<select id="receiv_read" resultType="java.util.HashMap">
		select * from note where no=#{no} and receiver=#{id}
	</select>

	<select id="send_read" resultType="java.util.HashMap">
		select * from note where no=#{no} and sender=#{id}
	</select>	
	
	<select id="receiv_list" resultType="java.util.HashMap">
		select * from note where receiver=#{id} and read='n'
	</select>
	
	<select id="send_list" resultType="java.util.HashMap">
		select * from note where sender=#{id} and del='n'
	</select>

	<select id="receiv_cnt" resultType="java.lang.Integer">
		select count(*) as cnt from note where receiver=#{id} and read='n'
	</select>
	<select id="receiv_pnt" resultType="java.lang.Integer">
		select point from member where id=#{id}
	</select>

	<update id="receive_del">
		update note set read='y' where receiver=#{id} and no in 
  			<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
      			#{item}
 			</foreach>
	</update>
	<update id="send_del">
		update note set del='y' where sender=#{id} and no in 
  			<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
      			#{item}
 			</foreach>
	</update>
</mapper>