<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="freeB">
	<select id="listAll" resultType="java.util.HashMap">
		select b.*, t.c from freeboard b left join 
       	(select parent, count(*) as c from freeboard_reply group by parent ) t on b.no = t.parent order by no desc
	</select>

	<insert id="addOne">
		insert into freeboard
		values(freeboard_seq.nextval,#{writer},#{title},#{coment},sysdate,0,0,null,#{attach, jdbcType=VARCHAR})
	</insert>

	<select id="readOne" parameterType="java.lang.String"
		resultType="java.util.HashMap">
		select * from freeboard where no=#{no}
	</select>

	<update id="addPoint">
		UPDATE MEMBER set POINT= point+200 where id=#{id}
	</update>

	<update id="subPoint">
		UPDATE MEMBER set POINT= point-500 where id=#{id}
	</update>
	
	 <update id="upLevel">
		UPDATE MEMBER set lev= 3 where id=#{id}
	</update>
		
	<update id="countOne"> 
		update freeboard set view_cnt = view_cnt+1 where no =#{no}
	</update>
	 
	 <select id="readReply" resultType="java.util.HashMap">
		select * from freeboard_reply where parent=#{parent} order by no desc
	</select>
	 
</mapper>