<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="master">
	<select id="memberList" resultType="java.util.HashMap">
		select * from member a join member_info b on a.id=b.id
	</select>
	
	<select id="memberOne" resultType="java.util.HashMap">
		select * from (select m1.email, m1.lev, m2.* from member m1 join member_info m2 on m1.id=m2.id) where id=#{id}
	</select>
<!-- board data -->	
	<select id="sell" resultType="java.util.HashMap">
		select no, title, writer from sell where writer=#{id}
	</select>
	<select id="buy" resultType="java.util.HashMap">
		select no, title, buy_id from buy where buy_id=#{id}
	</select>
	<select id="freedis" resultType="java.util.HashMap">
		select no, title, writer from free_distribute where writer=#{id}
	</select>
	<select id="free" resultType="java.util.HashMap">
		select no, title, writer from freeboard where writer=#{id}
	</select>
	<select id="after" resultType="java.util.HashMap">
		select no, title, writer from after where writer=#{id}
	</select>
	
<!-- board count --> 	
	<select id="sellcnt" resultType="int">
		select count(*) from sell where writer=#{id}
	</select>
	<select id="buycnt" resultType="int">
		select count(*) from buy where buy_id=#{id}
	</select>
	<select id="freediscnt" resultType="int">
		select count(*) from free_distribute where writer=#{id}
	</select>
	<select id="freecnt" resultType="int">
		select count(*) from freeboard where writer=#{id}
	</select>
	<select id="aftercnt" resultType="int">
		select count(*) from after where writer=#{id}
	</select>
	<select id="logcnt" resultType="int">
		select log_cnt from member where id=#{id}
	</select>
	<select id="replycnt" resultType="int">
		select count(*) from reply where replyer=#{id}
	</select>
</mapper>