<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="myworld">
	<select id="after" resultType="java.util.HashMap">
	select * from after where writer=#{id}
	</select>
	<select id="freedis" resultType="java.util.HashMap">
		select * from free_distribute where writer=#{id}
	</select>
	<select id="buy" resultType="java.util.HashMap">
		select * from buy where buy_id=#{id}
	</select>
	<select id="free" resultType="java.util.HashMap">
		select * from freeboard where writer=#{id}
	</select>
	<select id="sell" resultType="java.util.HashMap">
		select * from sell where writer=#{id}
	</select>
	<select id="member" resultType="java.util.HashMap">
		select * from member where id=#{id}
	</select>
	
	<select id="afterread" resultType="java.util.HashMap">
	select no,title,comments as detail,writer,ADD_DATE,COUNT from after where no=#{no}
	</select>
	<select id="freedisread" resultType="java.util.HashMap">
		select no,title,coment as detail,writer,fd_date as add_date,view_cnt as count from free_distribute where no=#{no}
	</select>
	<select id="buyread" resultType="java.util.HashMap">
		select no,title,detail,buy_id as writer,add_date,count from buy where no=#{no}
	</select>
	<select id="freeread" resultType="java.util.HashMap">
	select no,title,coment as detail,writer,fb_date as add_date,view_cnt as count from freeboard where no=#{no}
	</select>
	<select id="sellread" resultType="java.util.HashMap">
		select no,title,detail,writer,regdate as add_date,count from sell where no=#{no}
	</select>
</mapper>