<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
         "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="reply">
	<select id="list" resultType="org.game.nara.ReplyVO">
		select  rno, bno, replyer, replytext, to_char(regdate,'yyyy-mm-dd hh:mm:ss') as regdate from reply where bno=#{bno} order by rno desc
	</select>
	
	<insert id="create">
		insert into reply values (reply_seq.nextval, #{bno}, #{replytext}, #{replyer}, sysdate, sysdate, null)
	</insert>
	
	<update id="update">
		update reply set replytext=#{replytext}, updatedate = sysdate where rno=#{rno}
	</update>
	
	<delete id="delete">
		delete from reply where rno=#{rno}
	</delete>
	
</mapper>