<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="search">
	<select id="sellsearch" resultType="java.util.HashMap">
		SELECT * FROM sell WHERE REGEXP_LIKE(title || detail, #{search},'i')
	</select>
	 
	<select id="buysearch" resultType="java.util.HashMap">
		SELECT * FROM buy WHERE REGEXP_LIKE(title || detail, #{search},'i')
	</select>
	 
	<select id="freeboardsearch" resultType="java.util.HashMap">
		SELECT * FROM freeboard WHERE REGEXP_LIKE(title || coment, #{search},'i')
	</select>
	
	<select id="aftersearch" resultType="java.util.HashMap">
		SELECT * FROM after WHERE REGEXP_LIKE(title || comments, #{search}, 'i')
	</select>
</mapper>

