<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sell">
	<insert id="add">
		insert into sell values(
		sell_seq.nextval, #{writer}, #{title}, #{price}, #{detail}, #{contact, jdbcType=VARCHAR}, #{deal_method, jdbcType=VARCHAR}, #{pic, jdbcType=VARCHAR}, sysdate, 0, #{category}, 0)
	</insert>
	<update id="countup"> 
		update sell set count = count+1 where no =#{no}
	 </update>
	<update id="subtractPoint">
		update member set point = point-500 where id =#{id}
	</update>
	<select id="sellOne" resultType="java.util.HashMap">
		select * from sell where no=#{no}
	</select>
	<update id="sellUpdate">
		update sell set title=#{title}, price=#{price}, contact=#{contact, jdbcType=VARCHAR}, deal_method=#{deal_method, jdbcType=VARCHAR}, detail=#{detail}, category=#{category}, pic=#{pic, jdbcType=VARCHAR} where no =#{no}
	</update>
	<update id="state">
		update sell set state=#{state} where no =#{no}
	</update>
	<select id="sellList" resultType="java.util.HashMap">
		select * from sell
	</select>
	<select id="console" resultType="java.util.HashMap">
		select * from sell where category=1
	</select>
	<select id="title" resultType="java.util.HashMap">
		select * from sell where category=2
	</select>
	<select id="acce" resultType="java.util.HashMap">
		select * from sell where category=3
	</select>
	<select id="other" resultType="java.util.HashMap">
		select * from sell where category=0
	</select>
	
</mapper>